<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
			<section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<add name="MyConnectionString"
			 connectionString="Server=localhost;Database=arys_db;Uid=root;Pwd=;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<appSettings>
		
		<add key="SmtpHost" value="smtp.gmail.com" />

			<add key="SmtpPort" value="587" />

		    <add key="SmtpUser" value="mf6581123@gmail.com" />

			<add key="SmtpPass" value="czcs enad cmkb texn" />

			<add key="SmtpEnableSsl" value="true" />
				
	</appSettings>
	
	<applicationSettings>
		<DevExpress.LookAndFeel.Design.AppSettings>
			<setting name="DPIAwarenessMode" serializeAs="String">
				<value>System</value>
			</setting>
		</DevExpress.LookAndFeel.Design.AppSettings>
	</applicationSettings>

</configuration>